.form {
    display: block;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    padding: 16px;
  
    &__item {
      display: block;
      width: 100%;
      justify-content: center;
      &--sex {
        width: auto;
        justify-content: center;
      }
  
      &--checkbox {
        width: 45%;
        justify-content: center;
      }
  
      &__fieldset {
        margin: 10px -5px 10px;
        &--chekboxes {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  
  
  
  