$pageOrange: #d86c46;
@import "switch.scss";
.navigation {
    max-width: 860px;
    width: 70%;
    min-width: 320px;
    margin: auto;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    &__link {
      text-decoration: none;
      color: black;
      letter-spacing: 3px;
      width: 33.3%;
      text-align: center;
      justify-content: center;
      transition: font-size 0.3s linear;
      &--center {
        justify-content: center;
      }
      &:hover {
        color: $pageOrange;
        font-size: larger;
      }
    }
  }
  