.note-paper {
    margin-top: 50px;
    border-radius: 3%;
    border: 0.5px solid black;
    min-height: 330px;
    max-width: 83vw;
    width: 300px;
    backdrop-filter: blur(5px);
    height: fit-content;
    position: relative;
    &__title {
      width: 100%;
      height: 40px;
      color: $basicOrange;
  
    }
    &__content {
      width: 82.5%;
      margin-bottom: 45px;
      text-align: justify;
    
    }
    &__delete-button{
      position: absolute;
      top: 5px;
      right: 4px;
      font-size: 25px;
      &:hover {
          position: absolute;
          top: 5px;
          right: 4px;
          font-size: 25px;
          color: $basicOrange;
      }
    }
    &__footer {

      position: absolute;
      bottom: 5px;
      width:100%;

    }

  }
  