@import "variables.scss";
@import "main-style";
@import "modules/mainColumn.scss";
@import "modules/footer.scss";
@import "modules/forms.scss";

.profile-pic {
  text-align: right;
  float: right;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 40px;
}
.submit__area {
  display: flex;
  justify-content: center;
  align-content: center;
}

.submit__button {
}

.checkbox {
  width: 150px;
  margin: 3px;
  display: flex;
}
.form p label {
  display: block;
}

input {
  border-radius: 5%;
  margin: 0 5px;
  /* width: 100%; */
}
label {
  margin-left: 0px;
}
fieldset {
  border-radius: 2%;
}

.form textarea {
  width: 100%;
  border-radius: 3%;
}

p,
legend {
  color: rgb(255, 255, 255);
  /* letter-spacing: 2px; */
}

@media screen and (max-width: 520px) {
  .js-hamburger {
    display: inline;
  }

  .profile-pic {
    display: none;
  }
  .navigation {
    display: none;
  }
}
.navigation__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 220px;
}
