@import "~normalize.css";
@import "variables.scss";
@import "modules/footer.scss";
@import "modules/navigation.scss";
@import "modules/basicButton.scss";
@import "modules/mainColumn.scss";

// @import "forms-style.scss";
// @import "style-notes-grid.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}
:root{
  --background-img:  url('../assets/img/landscape_forest.jpg');
  --background-img-bw: url('../assets/img/landscape_forest_BW.jpg');
  --nav-color: black;

}

body {
  margin: 5px;
  background: #574d67;
  background-image: var(--background-img);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  font-family: Rubik;
  font-size: large;
  z-index: 100;
  font-weight: lighter;
}
.dupa {
  
  background-image: var(--background-img-bw);
  display:none;
}
.navigation__link {
color: var(--nav-color);
}
.js-hamburger {
  display: none;
  position: absolute;
  right: 40px;
  top: 15px;
  color: $basicOrange;
}

.header {
  position: fixed;
  top: 0;
  margin: 0px 20px 20px 20px;
  padding-top: 15px;
  width: 100%;
  min-width: 300px;
  backdrop-filter: blur(20px);
  z-index: 1000;
  min-height: 8vh;
  width: 100vw;
  margin: auto;
}

ul {
  color: rgba(255, 255, 255, 0.514);
  padding-left: 10px;
}

h2 {
  font-weight: lighter;
  font-size: 33px;
  text-align: center;
  color: var(--nav-color);
}
h3 {
  font-weight: lighter;
  font-size: 26px;
  text-align: center;
  color: var(--nav-color);
}

p {
  margin: 30px;
  color: rgba(255, 255, 255, 0.514);
}

.page-title {
  margin-top: 120px;

  &__header {
    color: $headerOrange;
    text-align: center;
    font-size: 46px;
    letter-spacing: 6px;
    font-weight: lighter;
  }
}

.profile-pic {
  height: 60px;
  border-radius: 50%;
}

.self-presentation {
  text-align: center;
}

.weekly-notes {
  margin: 40px 0px;
  padding: 25px;
  &__note{

  }
  &__ext-link{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.514)
  }
}

.self-presentation {
  font-size: larger;
}

@media screen and (max-width: 520px) {
  .js-hamburger {
    display: inline;
  }

  .profile-pic {
    display: none;
  }
  .navigation {
    display: none;
  }
  .navigation__link {
    width: 75%;
  }
}
.navigation__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 220px;
}
