@import "~normalize.css";
@import "modules/footer.scss";
@import "modules/navigation.scss";
@import "modules/basicButton.scss";
@import "forms-style.scss";
@import "style-notes-grid.scss";
@import "style-notes.scss";
@import "style-toDo.scss";



*,
*:before,
*:after {
  box-sizing: inherit;
}

$pageOrange: #d86c46;

body {
  margin: 5px;
  background: #574d67;
  background-image: url(../assets/img/landscape_forest.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  font-family: Rubik;
  font-size: large;
  z-index: 100;
  font-weight: lighter;
}
.js-hamburger {
  display: none;
  position: absolute;
  right: 40px;
  top: 15px;
  color: $pageOrange;
}

.header {
  position: fixed;
  top: 0;
  margin: 0px 20px 20px 20px;
  padding-top: 15px;
  width: 100%;
  min-width: 300px;
  /* -webkit-backdrop-filter: blur(10px); */
  backdrop-filter: blur(20px);
  z-index: 1000;
  min-height: 8vh;
  width: 100vw;
  margin: auto;
}

.main-column {
  max-width: 700px;
  width: 60%;
  min-width: 300px;
  text-align: center;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  min-height: 78vh;
}


ul {
  color: rgba(255, 255, 255, 0.514);
}

h2 {
  font-weight: lighter;
  font-size: 33px;
  text-align: center;
}
h3 {
  font-weight: lighter;
  font-size: 26px;
  text-align: center;
}

p {
  margin: 30px;
  color: rgba(255, 255, 255, 0.514);
}

.page-title {
  margin-top: 100px;

  &__header {
    color: #aa441f;
    text-align: center;
    font-size: 46px;
    letter-spacing: 6px;
    font-weight: lighter;
  }
}

.profile-pic {
  height: 60px;
  border-radius: 50%;
}

.self-presentation {
  text-align: center;
}


.weekly-notes {
  margin: 40px 0px;
  padding: 25px;
}

.self-presentation {
  font-size: larger;
}



@media screen and (max-width: 520px) {
  .js-hamburger {
    display: inline;
  }

  .profile-pic {
    display: none;
  }
  .navigation {
    display: none;
  }
}
.navigation__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 220px;
}
