#note-0 {
    display: inline;
}

.profile-pic {
    text-align: right;
    float: right;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 40px;
    
}

.page-title{
    text-align: center;
    margin: auto;
    margin-top: 120px;
}



.page-title__note-button {
color: white;
border: none;
text-decoration: none;
display: inline-block;
background-color: #555555;
text-align: center;
font-size: 20px;
border-radius: 5%;
text-align: center;
background-color:#d86c46; 
color:#543855;
margin: 5px;
}

.page-title__note-button:hover {
    background-color:#543855; 
color:#d86c46; 
;
}


.main-column--notes {
    padding-top: 50px;
    max-width: 72vW;
    width: 90vw;
    margin:auto;
   
     min-height: 61vh; 
    min-height: 600px;
    text-align: center;
    /* overflow: hidden; */

 
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    column-gap: 25px;
    row-gap: 65px;
}


.note-paper {
    border-radius: 3%;
    border: 0.5px solid black;
    min-height: 330px;
    max-width:500px;
    /* width: 300px; */
    backdrop-filter: blur(5px);
    height: fit-content;
    /* align-self: center; */
    /* justify-self: center; */
}

.note-paper__title {
    width: 100%;
    height:40px;
    color:#d86c46;
}
.note-paper__content {
    width: 82.5%;
    
    text-align: justify;
  
}


.note-paper__delete-button {
    position: absolute;
    top:5px;
    right:4px;
    font-size: 25px;
}
.note-paper__delete-button:hover {
    position: absolute;
    top:5px;
    right:4px;
    font-size: 25px;
    color:#d86c46;
}



/* .footer  {
    margin-top:100px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
     position: absolute;
    top: 0; 
    color: #d86c46;
}

.footer__socials {
    word-spacing: 20px;
    padding: 5px;
}
.footer__socials--link {
    color: #d86c46;
}
.footer__sign {
    font-size:14px;
    padding: 6px;
} */
