@import "variables.scss";
@import "main-style";
@import "modules/basicButton.scss";
@import "modules/notePaper.scss";
@import "modules/mainColumn.scss";
@import "modules/footer.scss";

#note-0 {
  display: none;
}

.profile-pic {
  text-align: right;
  float: right;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 40px;
}

.page-title {
  text-align: center;
  margin: auto;
  margin-top: 120px;

  &__note-button {
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    background-color: #555555;
    text-align: center;
    font-size: 20px;
    border-radius: 5%;
    text-align: center;
    background-color: #d86c46;
    color: #543855;
    margin: 5px;
    &:hover {
      background-color: #543855;
      color: $basicOrange;
    }
  }
}
